<app-container>
  <app-content>
    <div *ngIf="course">
      <h1><b>{{ course.name }}</b></h1>
      <div>{{ course | json }}</div>
      <div>
        <a *ngFor="let activity of course.activities" >
          <figure class="space">
            <img src="../..../../../../assets/images/illustrations/course.jpg" height="150px"/>
            <figcaption>{{ activity.name }} ({{activity.id}})</figcaption>
          </figure>
        </a>
      </div>
    </div>

    <form (ngSubmit)="createActivity()" #activityForm="ngForm">


     <button type="submit" class="btn btn-success" [disabled]="!activityForm.form.valid">Create activity</button>

     </form>

  </app-content>

</app-container>
