<div class="wrapper">
  <form (ngSubmit)="onSubmit()" #courseForm="ngForm" class="create-course">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nom du cours</mat-label>
        <input matInput type="text" [(ngModel)]="courseCreate.name" name="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="courseCreate.desc" placeholder="Ex. It makes me feel..." name="desc"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Ouverture du cours" [(ngModel)]="courseCreate.opening" name="opening">
          <input matEndDate placeholder="Fermeture du cours" [(ngModel)]="courseCreate.closing" name="closing">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!courseForm.form.valid">Créer un cours</button>
  </form>

  <app-asset class="preview" [asset]="courseCreate"></app-asset>
</div>
