.admin-title h1 {
  margin-bottom: 0;
}

.admin-action {
  display: flex;
  justify-content: end;
}

.admin-action-item {
  margin-left: 24px;
}

.admin-search-bar {
  border: 0;
  font-size: 20px;
  box-shadow: none;
}

.admin-search-bar input {
  font-size: 20px;
}

.admin-content {
  width: 100%;
}

.admin-content-section {
  margin: 16px;
}

.admin-content .inner-sider {
  padding: 24px 0;
}

.admin-content .inner-sider-menu {
  height: 100%;
}

.admin-content .inner-content {
  min-height: 100%;
  padding: 24px;
  background-color: white;
}
