<nz-breadcrumb>
  <nz-breadcrumb-item>
    {{state.circle!.name}}
    <mat-icon>group_work</mat-icon>
    <i
      nz-icon
      [nzType]="state.circle?.opened ? 'unlock' : 'lock'"
      [matTooltip]="state.circle?.opened ? 'Vous devez être membre pour publier' : 'Vous pouvez publier sans être membre'"
      nzTheme="twotone">
    </i>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<p class="description">{{state.circle!.desc}}</p>

<nz-button-group *ngIf="actions.length">
  <button nz-button nzType="primary" [matMenuTriggerFor]="menu">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</nz-button-group>

<nz-button-group>
  <button nz-button nzType="default" (click)="didChangeWatchingState.emit()">
    <i nz-icon nzType="eye" nzTheme="outline"></i>
    {{ state.watcher ? 'Ne plus suivre' : 'Suivre' }}
  </button>
  <button nz-button nzType="default">{{state.circle!.watchersCount}}</button>
</nz-button-group>

<nz-button-group *ngIf="state.invitation">
  <button nz-button nzType="primary" (click)="didAcceptInvitation.emit()">
    Accepter l'invitation
  </button>
  <button nz-button nzType="danger" (click)="didDeclineInvitation.emit()">
    Refuser l'invitation
  </button>
</nz-button-group>

<mat-menu #menu="matMenu">
  <ng-container *ngFor="let action of actions">
    <a
      mat-menu-item
      [disabled]="false"
      [id]="action.id"
      [routerLink]="action.link">
      <mat-icon>{{ action.icon }}</mat-icon>
      <span>{{ action.title }}</span>
    </a>
  </ng-container>
</mat-menu>
