 <mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      Général
    </ng-template>
    <ng-template matTabContent>
      <form [formGroup]="form" class="tab-content-general">
        <mat-form-field appearance="fill" style="display: block;">
          <mat-label>Nom</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: block;">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
      </form>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Contributeurs
    </ng-template>
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
</mat-tab-group>
