.inner-layout {
  min-height: 100%;
  padding: 24px;
}

.inner-sider {
  padding: 24px 0;
}

.inner-sider-menu {
  height: 100%;
}

.inner-content {
  min-height: 100%;
  padding: 24px;
  background-color: white;
}
