main {
  display: grid;
  grid-template-columns: 3.2fr 1.8fr;
  column-gap: 32px;
  padding: 32px 0;
  box-sizing: border-box;
}

mat-expansion-panel {
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
}

mat-checkbox,
mat-radio-button {
  margin: 8px;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 8px 0;
}

mat-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

nz-spin {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

:host::ng-deep {
  .mat-radio-label-content,
  .mat-checkbox-label,
  .mat-checkbox-layout {
    display: inline-flex;
    align-items: center;
    mat-icon {
      margin: 0 4px;
    }
  }
}
