<ng-container *ngIf="context.state === 'READY'">

  <form
    [formGroup]="form"
    (ngSubmit)="saveChanges()">
    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Nom</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Description</mat-label>
      <textarea cdkTextareaAutosize formControlName="description" matInput></textarea>
    </mat-form-field>

    <mat-label id="label-tags">Tags</mat-label>

    <nz-cascader
      aria-labelledby="label-tags"
      formControlName="tags"
      [nzOptions]="tags"
      [nzNotFoundContent]="'Aucun tag ne correspond à votre recherche'"
      [nzPlaceHolder]="'Choisissez une liste de tags...'"
      [nzSize]="'large'"
      [nzShowSearch]="true">
    </nz-cascader>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!context.user!.isAdmin || !form.valid">
      Sauvegarder
    </button>
  </form>
</ng-container>
