<ng-container *ngIf="asset.content.items && asset.content.items.length; else: empty">

  <!-- <nz-layout class="inner-layout">
    <nz-sider nzWidth="20%">
      <ul nz-menu nzMode="inline" class="inner-section">
        <li nz-menu-item nzSelected>Section 1</li>
        <li nz-menu-item>Section 2</li>
      </ul>
    </nz-sider>
    <nz-content class="inner-content">
      <h1>Contenu provisoire</h1>
      <p>Vous pouvez choisir un des exercices suivant : </p>
      <br/>
      <ui-list-item-article
        *ngFor="let item of asset.content.items"
        [articleTitle]="item.type"
        [articleUrl]="['/asset'].concat(item.path.split('/'))"
        [articleIconTemplate]="image"
        [articleDescription]="item.name"
      >
        <ng-template #image>
        <mat-icon>{{item.type | assetIcon }}</mat-icon>
        </ng-template>
      </ui-list-item-article>
    </nz-content>
  </nz-layout> -->

  <h1>A propos de ce cours : </h1>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <br/>
  <h2>Contenu</h2>
  <ui-list-item-article
    *ngFor="let item of asset.content.items"
    [articleTitle]="item.type"
    [articleUrl]="['/asset'].concat(item.path.split('/'))"
    [articleIconTemplate]="image"
    [articleDescription]="item.name"
  >
    <ng-template #image>
    <mat-icon>{{item.type | assetIcon }}</mat-icon>
    </ng-template>
  </ui-list-item-article>

</ng-container>

<ng-template #empty>
  <nz-empty [nzNotFoundContent]="content">
    <ng-template #content>
      <h2>Aucun cours</h2>
    </ng-template>
  </nz-empty>
</ng-template>
