<ng-container *ngIf="asset.content.items && asset.content.items.length; else: empty">
  <ui-list-item-article
  *ngFor="let item of asset.content.items"
  [articleTitle]="item.type"
  [articleUrl]="['/asset'].concat(item.path.split('/'))"
  [articleIconTemplate]="image"
  [articleDescription]="item.name"
>
  <ng-template #image>
  <mat-icon>{{item.type | assetIcon }}</mat-icon>
  </ng-template>
</ui-list-item-article>
</ng-container>

<ng-template #empty>
  <nz-empty [nzNotFoundContent]="content">
    <ng-template #content>
      <h2>Aucun cours</h2>
    </ng-template>
  </nz-empty>
</ng-template>
