<app-ws-search-view
  #searchView
  [type]="'CIRCLE'"
  [bannerTitle]="'Cercles'"
  [bannerImage]="'/assets/images/illustrations/network.png'"
  [bannerActionsTemplate]="bannerActionsTemplate"
  [bannerDescription]="'Collaborez avec les autres enseignants de la plateforme pour organiser les ressources'"
  [searchBarPlaceholder]="'Essayez une matière, une notion, un nom de cercle, un contributeur...'"
  [listRowTemplate]="listRowTemplate"
  [listEmptyTemplate]="listEmptyTemplate">
  <ng-template #bannerActionsTemplate>
      <button class="banner-action" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Créer
      </button>
      <button class="banner-action" mat-raised-button>
        <mat-icon>info_outline</mat-icon>
        En savoir plus
      </button>
    </ng-template>

    <ng-template #listRowTemplate let-item>
      <ws-circle-list-item
        [item]="item"
        (didFilterByTag)="searchView.triggerSearch($event)">
      </ws-circle-list-item>
    </ng-template>

     <ng-template #listEmptyTemplate>
      <nz-empty [nzNotFoundContent]="content" [nzNotFoundFooter]="footer">
        <ng-template #content>
          <h2>Créez votre premier exercice</h2>
          <p>
            Vous avez la possibilité de créer un exercice à partir
            d'un template ou bien de A à Z.
          </p>
        </ng-template>
        <ng-template #footer>
          <button mat-raised-button color="primary">Créer</button>
        </ng-template>
      </nz-empty>
    </ng-template>
</app-ws-search-view>
