<app-ws-search-view
  #searchView
  [type]="'CIRCLE'"
  [bannerTitle]="'Cercles'"
  [bannerImage]="'assets/images/illustrations/network.png'"
  [bannerActionsTemplate]="bannerActionsTemplate"
  [bannerDescription]="'Collaborez avec les autres enseignants de la plateforme pour organiser les ressources'"
  [searchBarPlaceholder]="'Essayez une matière, une notion, un nom de cercle, un contributeur...'">
  <ng-template #bannerActionsTemplate>
      <button class="banner-action" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Créer
      </button>
      <button class="banner-action" mat-raised-button>
        <mat-icon>info_outline</mat-icon>
        En savoir plus
      </button>
    </ng-template>
</app-ws-search-view>
