<mat-card class="exercise">
  <mat-card-header class="exercise__header">
    <mat-card-subtitle class='exercise__author'>
      <app-platon-text [rawText] = "auteur"></app-platon-text>
    </mat-card-subtitle>
    <mat-card-title class='exercise__header'>
      <app-platon-text [rawText] = "titre"></app-platon-text>
    </mat-card-title>
  </mat-card-header>
   <!-- BODY -->
  <mat-card-content class="exercise__body">
    <!-- INSTRUCTIONS -->
    <div>
      <app-platon-text [rawText] = "text"></app-platon-text>
    </div>
    <!-- FEEDBACK -->
    <div>
      <app-platon-text [rawText] = "rendu"></app-platon-text>
    </div>
    <!-- ACTIONS -->
    <div>
      <div>
        <mat-button-toggle-group>
          <mat-button-toggle>Réinitialiser</mat-button-toggle>
          <mat-button-toggle>Nouveau tirage</mat-button-toggle>
          <mat-button-toggle>Sauvegarder</mat-button-toggle>
          <mat-button-toggle>Valider</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </mat-card-content>


