<header>
<h1>Sélectionnez un template pour démarrer</h1>
<div class="spacer"></div>
<button mat-icon-button (click)="dismiss()">
  <mat-icon>close</mat-icon>
</button>
</header>
<mat-horizontal-stepper>
  <mat-step label="Template">
    <mat-tab-group>
      <mat-tab label="Templates PLaTon">
        <section class="grid">
          <ng-container *ngFor="let item of templates">
            <mat-card>
              <img mat-card-image src="assets/images/components/widgets/markdown/markdown.svg" alt="Template image">
              <mat-card-content>
               <!--  <mat-chip-list>
                  <mat-chip>{{item}}</mat-chip>
                </mat-chip-list> -->
              </mat-card-content>
            </mat-card>
          </ng-container>
        </section>
      </mat-tab>
      <mat-tab label="Templates de la communauté"></mat-tab>
    </mat-tab-group>
  </mat-step>
  <mat-step label="Édition"></mat-step>
  <mat-step label="Prévisualisation"></mat-step>
  <mat-step label="Métadata"></mat-step>
</mat-horizontal-stepper>
