<app-container #app>
  <app-content>
    <ui-search-banner
      [bannerTitle]="'Cours'"
      [bannerImage]="'assets/images/illustrations/network.png'"
      [bannerSearchBar]="searchBar"
      [bannerActions]="actions">
      <ng-template #actions>
        <button class="banner-action" mat-raised-button>
          <mat-icon>info_outline</mat-icon>
          En savoir plus
        </button>
      </ng-template>
    </ui-search-banner>
    <br/><br/>
    <ng-container [ngSwitch]="context.state">
      <ng-container *ngSwitchCase="'LOADING'">
        <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
      </ng-container>
      <ng-container *ngSwitchCase="'READY'">
        <ng-container *ngIf="context.assets && context.assets.results.length; else: empty">
          <ws-cours-list [items]="context.assets">
          </ws-cours-list>
        </ng-container>
        <ng-template #empty>
          <nz-empty [nzNotFoundContent]="content">
            <ng-template #content>
              <h2>Aucun cours</h2>
            </ng-template>
          </nz-empty>
        </ng-template>
      </ng-container>
    </ng-container>

  </app-content>
</app-container>
