<app-container #app>
  <app-content>
    <app-banner
      [bannerTitle]="'Cours'"
      [bannerImage]="'assets/images/illustrations/laptop2.svg'"
      [bannerSearchBar]="searchBar"
      [bannerActions]="actions">
      <ng-template #actions>
        <button class="banner-action" mat-raised-button>
          <mat-icon>info_outline</mat-icon>
          En savoir plus
        </button>
      </ng-template>
    </app-banner>
    <main>
      <nz-empty [nzNotFoundContent]="content">
        <ng-template #content>
          <h2>Aucun cours</h2>
          <p>
            Vous n'êtes inscrit à aucun cours pour le moment !
          </p>
        </ng-template>
      </nz-empty>
    </main>
  </app-content>
</app-container>
