<section>
  <ng-container *ngIf="events.length; else: noevent;">
    <h3>Événements récents</h3>
    <nz-timeline>
      <ng-container *ngFor="let event of events">
        <nz-timeline-item>{{event.text}} - {{event.date * 1000|date}}</nz-timeline-item>
      </ng-container>
    </nz-timeline>
  </ng-container>
  <ng-template #noevent>
    <nz-empty [nzNotFoundContent]="content">
      <ng-template #content>
        <h2>Aucun événement important n'est à signaler dans ce cercle !</h2>
        <p></p>
      </ng-template>
    </nz-empty>
  </ng-template>
</section>
<aside>
  <!-- STATUS -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h4>Status des ressources</h4>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let status of status">
      <a class="status-item" routerLink="['/workspace/search']"
        [queryParams]="{
          circle: circle.id,
          status: status,
          types: 'EXERCISE|ACTIVITY'
        }"
        [queryParamsHandling]="'merge'">
        <nz-tag
          [nzColor]="status|resourceStatus:'color'">
          {{status|resourceStatus:'label'}} 0
        </nz-tag>
      </a>
    </ng-container>
  </mat-expansion-panel>
  <!-- ADMINS -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
    <h4>Administrateurs</h4>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let contributor of admins; trackBy: trackById">
      <ng-container *ngIf="contributor.isAdmin">
        <div class="contributor-item">
          <mat-icon>supervised_user_circle</mat-icon>
          <a mat-button [routerLink]="['/profile', contributor.id]">{{contributor.userName}}</a>
        </div>
      </ng-container>
    </ng-container>
  </mat-expansion-panel>
  <!-- CONTRIBUTORS -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
    <h4>Contributeurs</h4>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let contributor of members; trackBy: trackById">
      <div class="contributor-item">
        <mat-icon>account_circle</mat-icon>
        <a mat-button [routerLink]="['/profile', contributor.id]">{{contributor.userName}}</a>
      </div>
    </ng-container>
  </mat-expansion-panel>
</aside>
