:host {
  display: grid;
  grid-template-columns: 6fr 2fr;
  column-gap: 16px;
  padding: 16px 0;
}

mat-expansion-panel {
  margin-bottom: 8px;
}

.status-item {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  nz-tag {
    width: 100%;
  }
}

.contributor-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}
