<app-container>
  <app-content>
    <section>
      <h1>Espace de travail</h1>
      <nz-button-group *ngIf="actions.length">
        <button nz-button nzType="primary" [matMenuTriggerFor]="menu">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </nz-button-group>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let action of actions">
          <a
            mat-menu-item
            [disabled]="false"
            [id]="action.id"
            [routerLink]="action.link">
            <mat-icon>{{action.icon}}</mat-icon>
            <span>{{action.title}}</span>
          </a>
        </ng-container>
      </mat-menu>
    </section>
    <section>
      <nz-tabset nzLinkRouter [nzLinkExact]="false" nzSize="default" nzType="card">
        <ng-container *ngFor="let tab of tabs">
          <nz-tab>
            <a class="tab-title" *nzTabLink nz-tab-link [routerLink]="tab.link">
              {{tab.title}}
            </a>
          </nz-tab>
        </ng-container>
      </nz-tabset>
    </section>
  <section>
    <router-outlet></router-outlet>
  </section>
  </app-content>
</app-container>
