<app-container>
  <app-drawer drawerTitle="Espace de travail">
    <a routerLink="/workspace/circles" routerLinkActive="active">
      <mat-icon>group_work</mat-icon>
      <span>Cercles</span>
    </a>
    <a routerLink="/workspace/activities" routerLinkActive="active">
      <mat-icon>assessment</mat-icon>
      <span>Activités</span>
    </a>
    <a routerLink="/workspace/exercises" routerLinkActive="active">
      <mat-icon>article</mat-icon>
      <span>Exercices</span>
    </a>
    <a routerLink="/workspace/packages" routerLinkActive="active">
      <mat-icon>extension</mat-icon>
      <span>Packages</span>
    </a>
  </app-drawer>
  <app-content>
    <router-outlet></router-outlet>
  </app-content>
</app-container>
