<app-container>
  <app-content>
    <section>
      <h1>Espace de travail</h1>
    </section>
    <section>
    <nz-tabset nzLinkRouter nzSize="default" nzType="card" [nzTabBarExtraContent]="tabExtra">
      <ng-container *ngFor="let tab of tabs">
        <nz-tab>
          <a class="tab-title" *nzTabLink nz-tab-link [routerLink]="tab.link">
            {{tab.title}}
          </a>
        </nz-tab>
      </ng-container>
    </nz-tabset>
    <ng-template #tabExtra>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let action of actions">
          <a
            mat-menu-item
            [disabled]="false"
            [id]="action.id"
            [routerLink]="action.link">
            <mat-icon>{{action.icon}}</mat-icon>
            <span>{{action.title}}</span>
          </a>
        </ng-container>
      </mat-menu>
    </ng-template>
  </section>
  <section>
    <router-outlet></router-outlet>
  </section>
  </app-content>
</app-container>
