<div class="code-tree">
  <ng-container [ngSwitch]="code.state">

    <ng-container *ngSwitchCase="'LOADING'">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </ng-container>

    <ng-container *ngSwitchCase="'NOT_FOUND'">
      <app-error-404 style="width: 100%;"></app-error-404>
    </ng-container>

    <ng-container *ngSwitchCase="'READY'">
      <nz-list
        [nzHeader]="nodeTreeHeader"
        [nzBordered]="true"
        nzSize="small">

        <nz-list-item *ngIf="!code.node?.root">
          <a (click)="didGoBackTree(code.file?.entry?.parent)">..</a>
        </nz-list-item>

      </nz-list>

      <!-- FILE VIEW -->
      <ng-container *ngIf="code.node?.isLeaf">
        <nz-list
          [nzHeader]="nodeFileHeader"
          [nzBordered]="true"
          nzSize="small">
          <nz-list-item>
            <!-- FILE VIEW CONTENT -->
            <ng-container [ngSwitch]="code.file?.state">
              <ng-container *ngSwitchCase="'LOADING'">
                <nz-skeleton [nzActive]="true"></nz-skeleton>
              </ng-container>

              <ng-container *ngSwitchCase="'READY'">
                <nge-monaco-editor
                  style="--editor-height: 650px;"
                  (ready)="onCreateEditor($event)">
                </nge-monaco-editor>
              </ng-container>

              <ng-container *ngSwitchCase="'ERROR'">
                <app-error-404 style="width: 100%;"></app-error-404>
              </ng-container>

            </ng-container>
          </nz-list-item>
        </nz-list>
      </ng-container>

    </ng-container>

  </ng-container>
</div>

<ng-template #nodeTreeHeader>
  <div class="nz-list-header">
    <a>TODO</a>
    <span>TODO Actions</span>
  </div>
</ng-template>

<ng-template #nodeFileHeader>
  <div class="nz-list-header">
    <span>File : {{code.file?.entry?.path?.split('/')?.pop()}}</span>
    <button nz-button nzType="primary" (click)="onSave(code.file?.entry)" [nzLoading]="save">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      <span>Save</span>
    </button>
  </div>
</ng-template>
