<section>
  <nz-skeleton [nzActive]="true" [nzLoading]="context.state === 'LOADING'">
    <ng-container  *ngIf="context.state === 'READY'">
      <nz-breadcrumb>
        <ng-container [ngSwitch]="context.resource!.type">
          <ng-container *ngSwitchCase="'CIRCLE'">
            <ng-container *ngIf="$any(context.resource).parent">
              <nz-breadcrumb-item>
                <a [routerLink]="['/workspace', 'circle', $any(context.resource).parent.id]">
                  {{$any(context.resource).parent.name}}
                </a>
              </nz-breadcrumb-item>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <nz-breadcrumb-item>
              <a [routerLink]="['/workspace', 'circle', $any(context.resource).circle.id]">
                {{$any(context.resource).circle.name}}
              </a>
            </nz-breadcrumb-item>
          </ng-container>
        </ng-container>
        <nz-breadcrumb-item>
          <span>{{context.resource!.name}}</span>
          <mat-icon>{{context.resource!.type|resourceIcon}}</mat-icon>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <p class="description">{{context.resource!.description}}</p>
      <button class="fab" mat-fab [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- TODO move to a component -->
        <ng-container *ngIf="context.resource!.type === 'CIRCLE'">
          <button
            mat-menu-item
            [disabled]="!context.isMember"
            id="menu-create-exercise">
            <mat-icon>article</mat-icon>
            <span>Créer un exercice</span>
          </button>
          <button
            mat-menu-item
            [disabled]="!context.isMember"
            id="menu-create-activity">
            <mat-icon>assessment</mat-icon>
            <span>Créer une activité</span>
          </button>
          <button
            mat-menu-item
            [disabled]="!context.isAdmin"
            id="menu-create-sub-circle">
            <mat-icon>call_split</mat-icon>
            <span>Créer un sous cercle</span>
          </button>
        </ng-container>
        <a
          mat-menu-item
          id="menu-open-in-editor"
          [routerLink]="['/editor', context.resource!.directoryId]">
          <mat-icon>edit</mat-icon>
          <span>Ouvrir dans l'éditeur</span>
        </a>
        <a
          mat-menu-item
          id="menu-open-in-forum"
          [routerLink]="['/forum', context.resource!.forumId]">
          <mat-icon>chat</mat-icon>
          <span>Ouvrir dans l'espace de discussion</span>
        </a>
      </mat-menu>
    </ng-container>
  </nz-skeleton>
</section>
<section>
    <nav mat-tab-nav-bar dynamicHeight>
    <ng-container *ngFor="let tab of tabs">
      <a
        mat-tab-link
        [routerLink]="tab.link"
        routerLinkActive
        #ral="routerLinkActive"
        [active]="ral.isActive">
        <mat-icon class="tab-icon">{{tab.icon}}</mat-icon>
        {{tab.title}}
      </a>
    </ng-container>
  </nav>
</section>
<section class="tab-content">
  <nz-skeleton [nzActive]="true" [nzLoading]="context.state === 'LOADING'">
    <ng-container *ngIf="context.state === 'READY'">
      <router-outlet></router-outlet>
    </ng-container>
  </nz-skeleton>
</section>
