:host {
  display: block;
  max-width: 720px;
  padding: 0 12px;
}

form {
  display: flex;
  flex-direction: column;
}

nz-select,
mat-checkbox,
mat-form-field {
  display: block;
}

mat-label,
nz-select,
mat-checkbox {
  margin-bottom: 12px;
}

button {
  width: auto;
  align-self: center;
  max-width: 50%;
}

nz-spin {
  margin: 2rem 0;
}
