<div>
<h3>Activités récentes</h3>
<nz-timeline>
  <nz-timeline-item>Contributeur 1 vient de créer cet espace de travail - 20/09/2020 à 18h30</nz-timeline-item>
  <nz-timeline-item>Contributeur 1 vient de créer cet espace de travail - 20/09/2020 à 18h30</nz-timeline-item>
  <nz-timeline-item>Contributeur 1 vient de créer cet espace de travail - 20/09/2020 à 18h30</nz-timeline-item>
  <nz-timeline-item>Contributeur 1 vient de créer cet espace de travail - 20/09/2020 à 18h30</nz-timeline-item>
  <nz-timeline-item>Contributeur 1 vient de créer cet espace de travail - 20/09/2020 à 18h30</nz-timeline-item>
</nz-timeline>
</div>
<div>
  <div class="container-status">
    <h4>Status</h4>
    <nz-tag [nzColor]="'DRAFT'|resourceStatus:'color'">{{'DRAFT'|resourceStatus:'label'}} 0</nz-tag>
    <nz-tag [nzColor]="'READY'|resourceStatus:'color'">{{'READY'|resourceStatus:'label'}} 0</nz-tag>
    <nz-tag [nzColor]="'BUGGED'|resourceStatus:'color'">{{'BUGGED'|resourceStatus:'label'}} 0</nz-tag>
    <nz-tag [nzColor]="'NOT_TESTED'|resourceStatus:'color'">{{'NOT_TESTED'|resourceStatus:'label'}} 0</nz-tag>
    <nz-tag [nzColor]="'DEPRECATED'|resourceStatus:'color'">{{'DEPRECATED'|resourceStatus:'label'}} 0</nz-tag>
  </div>
  <div class="container-contributors">
    <h4>Contributeurs</h4>
    <div style="display: flex; align-items: center;">
      <nz-avatar [nzSize]="36"></nz-avatar>
      <a mat-button href="#">Contributeur 1</a>
    </div>
    <div style="display: flex; align-items: center;">
      <nz-avatar [nzSize]="36"></nz-avatar>
      <a mat-button href="#">Contributeur 2</a>
    </div>
    <div style="display: flex; align-items: center;">
      <nz-avatar [nzSize]="36"></nz-avatar>
      <a mat-button href="#">Contributeur 3</a>
    </div>
    <div style="display: flex; align-items: center;">
      <nz-avatar [nzSize]="36"></nz-avatar>
      <a mat-button href="#">Contributeur 4</a>
    </div>
  </div>
</div>
