<app-container>
  <app-content>
    <div *ngIf="courses.length==0">
      <h1 class="no-course">Aucun cours disponible</h1>
    </div>
    <div>
      <a *ngFor="let course of courses" [routerLink]="['/course-detail', course.id]">
        <app-asset class="preview" [asset]="course"></app-asset>
      </a>
    </div>
    <mat-expansion-panel [expanded]="false"  *ngIf="user?.isAdmin || user?.isEditor">
      <mat-expansion-panel-header>
        Créer un cours
      </mat-expansion-panel-header>
      <ng-container>
        <app-create-course (course)="addCourse($event)"></app-create-course>
      </ng-container>
    </mat-expansion-panel>
  </app-content>
</app-container>
<!-- platon.dev/course/1 -->
