<div class="create-activity">
  <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nom de l'Activité</mat-label>
        <input matInput type="text" [(ngModel)]="name" name="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="desc" placeholder="Ex. It makes me feel..." name="desc"></textarea>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!activityForm.form.valid">Créer une activité</button>
  </form>
</div>
<div>
  <app-activity-label [name]="name" [desc]="desc"></app-activity-label>
</div>



