<div>
  <div *ngIf="activities.length==0">
    <h1 class="no-activity">Aucune activité disponible</h1>
  </div>
  <a *ngFor="let activity of activities"  [routerLink]="['/activity-detail', activity.id]" >
    <app-activity-label [name]="activity.name" [desc]="activity.desc"></app-activity-label>
  </a>
</div>
<mat-expansion-panel [expanded]="false"  *ngIf="user?.isAdmin || user?.isEditor">
  <mat-expansion-panel-header>
    Créer une activité
  </mat-expansion-panel-header>
  <ng-container>
    <app-create-activity (activity)="addActivity($event)" [courseId]="this.courseId"></app-create-activity>
  </ng-container>
</mat-expansion-panel>

<!-- platon.dev/course/1 -->
