
<h1>ACTIVITIES LIST MODULE</h1>
<h2>COURSE_ID = {{ this.courseId }}</h2>
<div>
  <a *ngFor="let activity of activities"  [routerLink]="['/activity-detail', activity.id]" >
    <figure class="space">
      <img src="../..../../../../assets/images/illustrations/course.jpg" height="150px"/>
      <figcaption>{{ activity.name }} ({{activity.id}})</figcaption>
    </figure>
  </a>
</div>
<app-create-activity (activity)="addActivity($event)" [courseId]="this.courseId"></app-create-activity>
<!-- platon.dev/course/1 -->
