<app-container>
  <app-content>
    <section>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Général <mat-icon>group_work</mat-icon>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero excepturi
        incidunt eos maxime deleniti cupiditate ea commodi itaque eaque repellendus
        voluptates vel sunt cumque sed asperiores numquam, consectetur corporis eum.
      </p>
      <button class="fab" mat-fab [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let action of actions">
          <a
            mat-menu-item
            [disabled]="false"
            [id]="action.id"
            [routerLink]="action.link">
            <mat-icon>{{ action.icon }}</mat-icon>
            <span>{{ action.title }}</span>
          </a>
        </ng-container>
      </mat-menu>
    </section>
    <section>
      <nz-tabset nzLinkRouter nzSize="default" nzType="card">
        <ng-container *ngFor="let tab of tabs">
          <nz-tab>
            <a *nzTabLink nz-tab-link class="tab-title" [routerLink]="tab.link">
              {{ tab.title }}
            </a>
          </nz-tab>
        </ng-container>
      </nz-tabset>
    </section>
    <section>
      <router-outlet></router-outlet>
    </section>
  </app-content>
</app-container>
