:host {
  display: block;
  max-width: 720px;
  padding: 0 12px;
}

form {
  display: flex;
  flex-direction: column;
}

nz-select,
mat-checkbox,
mat-form-field {
  display: block;
}

mat-label,
nz-select,
mat-checkbox {
  margin-bottom: 12px;
}

nz-spin,
button {
  align-self: flex-start;
}

nz-spin {
  margin: 2rem 1rem;
}

