  <form
    [formGroup]="form"
    (ngSubmit)="saveChanges()">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea cdkTextareaAutosize formControlName="desc" matInput></textarea>
    </mat-form-field>

    <mat-label>Topics</mat-label>
    <nz-select
      nzAllowClear
      nzShowSearch
      nzSize="large"
      nzMode="multiple"
      nzPlaceHolder="Cliquez pour selectionner"
      formControlName="topics"
      [nzDisabled]="!canEdit">
      <nz-option *ngFor="let item of topics; trackByValue" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>

    <mat-label>Niveaux</mat-label>
    <nz-select
      nzAllowClear
      nzShowSearch
      nzSize="large"
      nzMode="multiple"
      nzPlaceHolder="Cliquez pour selectionner"
      formControlName="levels"
      [nzDisabled]="!canEdit">
      <nz-option *ngFor="let item of levels; trackByValue" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>

    <ng-container *ngIf="saving; else: actions">
      <nz-spin></nz-spin>
    </ng-container>
    <ng-template #actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!canSubmit">
        Sauvegarder
      </button>
    </ng-template>
  </form>
