<nz-skeleton [nzActive]="true" [nzLoading]="loading">
  <div class="members-list-header">
    <mat-form-field appearance="fill">
      <i matPrefix nz-icon nzType="search" nzTheme="outline"></i>
      <mat-label>Rechercher des membres</mat-label>
      <input matInput #input>
    </mat-form-field>
    <div class="spacer"></div>
    <button
      [disabled]="!context.user!.isAdmin"
      (click)="search.open()"
      mat-raised-button
      color="primary">
      Inscrire un membre
    </button>
  </div>
  <ui-list
    [items]="context.members"
    [idField]="'id'"
    [filterBy]="['username', 'lastName', 'firstName']"
    [filter]="input.value">
    <ui-list-template slot="row">
      <ng-template let-item="item">
        <div class="members-list-item">
          <a mat-button [routerLink]="['/profile', item.id]">
            <auth-avatar [user]="item"></auth-avatar>
          </a>
          <div class="spacer"></div>
          <button
            *ngIf="context.user!.isAdmin && !item.isAdmin"
            nz-popconfirm
            nzOkText="Retirer"
            nzCancelText="Annuler"
            nzOkType="danger"
            [nzPopconfirmTitle]=" 'Voulez-vous vraiment retirer “' + item.username + '” des membres du cercle?'"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(item)"
            mat-icon-button>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </ng-template>
    </ui-list-template>
  </ui-list>
</nz-skeleton>
<auth-search-modal
  #search
  searchTitle="Inscrire un membre"
  searchOkTitle="Inscrire"
  searchNoTitle="Annuler"
  searchRole="Teacher"
  [searchExcludes]="context.members"
  (didSelect)="add($event)">
</auth-search-modal>
