<app-banner
  [bannerTitle]="bannerTitle"
  [bannerImage]="bannerImage"
  [bannerActions]="bannerActionsTemplate"
  [bannerSearchBar]="searchBar"
  [bannerDescription]="bannerDescription">
</app-banner>
<main>
  <section>
    <ui-list [items]="dataSource" idField="id">
      <ui-list-template slot="row">
        <ng-template let-item="item">
          <ng-container *ngTemplateOutlet="listRowTemplate; context: { $implicit: item }"></ng-container>
        </ng-template>
      </ui-list-template>
      <ui-list-template slot="empty">
        <ng-template>
          <ng-container *ngTemplateOutlet="listEmptyTemplate;"></ng-container>
        </ng-template>
      </ui-list-template>
    </ui-list>
  </section>
  <aside>
    <form [formGroup]="form">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <span id="sortby-label">Trier par</span>
        </mat-expansion-panel-header>
        <mat-radio-group formControlName="sortBy" class="radio-group" aria-labelledby="sortby-label">
          <mat-radio-button value="name">Nom</mat-radio-button>
          <mat-radio-button value="date">Date</mat-radio-button>
          <mat-radio-button value="quality">Qualité</mat-radio-button>
          <mat-radio-button value="popularity">Popularité</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <span id="status-label">Status</span>
        </mat-expansion-panel-header>
        <mat-radio-group formControlName="status" class="radio-group" aria-labelledby="status-label">
          <mat-radio-button value="ALL">Tout</mat-radio-button>
          <mat-radio-button value="DRAFT">Brouillon</mat-radio-button>
          <mat-radio-button value="READY">Prêt</mat-radio-button>
          <mat-radio-button value="BUGGED">Contient des bugs</mat-radio-button>
          <mat-radio-button value="DEPRECATED">À ne plus utiliser</mat-radio-button>
          <mat-radio-button value="NOT_TESTED">Non tester</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <span id="update-date-label">Date de mise à jour</span>
        </mat-expansion-panel-header>
        <mat-radio-group formControlName="date" class="radio-group" aria-labelledby="update-date-label">
          <mat-radio-button [value]="0">Tout</mat-radio-button>
          <mat-radio-button [value]="1">1 jour</mat-radio-button>
          <mat-radio-button [value]="7">1 semaine</mat-radio-button>
          <mat-radio-button [value]="31">1 mois</mat-radio-button>
          <mat-radio-button [value]="180">6 mois</mat-radio-button>
          <mat-radio-button [value]="365">1 an</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </form>
  </aside>
</main>
