nz-breadcrumb {
  margin-left: 10px;
}

nz-list {
  border-radius: 10px;
}

nge-monaco-viewer {
  width: 100%;
}

nge-monaco-editor {
  width: 100%;
}

.code-header {
  display: flex;
  justify-content: space-between;
}

.code-header-item {
  display: flex;
}

.code-editor {

}

.code-editor-header {
  display: flex;
  justify-content: space-between;
}
