nz-breadcrumb {
  font-size: 1.5em;
}

.tab-icon {
  margin-right: 4px;
}

.tab-content {
  padding: 12px 0;
}

.circle-description {
  margin: 12px 0;
}

.fab {
  background-color: #15181f !important;
  color: white !important;
  margin-bottom: 12px;
}

@media (min-width: 720px) {
  .circle-description {
    width: 50%;
  }
}
