<ng-container *ngIf="circle != null">
  <section>
    <h1 class="circle-title">{{circle!.name}}</h1>
    <p class="circle-description">{{circle!.description}}</p>
    <div class="circle-actions">
      <button id="action-share" mat-raised-button>
        <mat-icon>share</mat-icon>
        Partager
      </button>
      <button id="action-edit" mat-raised-button>
        <mat-icon>edit</mat-icon>
        Éditer l'atelier
      </button>
      <button id="action-create-exercise" mat-raised-button>
        <mat-icon>article</mat-icon>
        Créer un exercice
      </button>
      <button id="action-create-activity" mat-raised-button>
        <mat-icon>assessment</mat-icon>
        Créer une activité
      </button>
      <button id="action-create-sub-circle" mat-raised-button>
        <mat-icon>call_split</mat-icon>
        Créer un sous cercle
      </button>
    </div>
  </section>
  <br/>
  <section>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">apps</mat-icon>
          Dashboard
        </ng-template>
        <ng-template matTabContent>
          <app-circle-dashboard [circle]="circle"></app-circle-dashboard>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">chat</mat-icon>
          Forum
        </ng-template>
        <ng-template matTabContent>
          <app-circle-forum></app-circle-forum>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">book</mat-icon>
          Documentation
        </ng-template>
        <ng-template matTabContent>
          <app-circle-doc></app-circle-doc>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">settings</mat-icon>
          Paramètres
        </ng-template>
        <ng-template matTabContent>
          <app-circle-settings></app-circle-settings>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

