@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'material';
@import 'components';

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

html {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  color: var(--brand-text-color);
  background-color: var(--brand-background-color);
  font-family: var(--brand-font);
}

.light-theme {
  --brand-background-color: #FFFFFF;
  --brand-text-color: #000000;
  --brand-border-color: #dddddd;
  --brand-box-shadow-color: rgba(0, 0, 0, 0.12);
  @include angular-material-theme($mat-light-theme);
}

.dark-theme {
  --brand-background-color: #000000;
  --brand-text-color: #ffffff;
  --brand-border-color: #15202b;
  --brand-box-shadow-color: rgba(255, 255, 255, 0.12);
  @include angular-material-theme($mat-dark-theme);
}
