<app-ws-search-view
  #searchView
  [type]="'ACTIVITY'"
  [bannerTitle]="'Activités'"
  [bannerImage]="'assets/images/illustrations/laptop1.svg'"
  [bannerActionsTemplate]="bannerActionsTemplate"
  [bannerDescription]="'Regroupez vos exercices dans des activités à afficher devant vos élèves'"
  [searchBarPlaceholder]="'Essayez une matière, une notion, un titre, un auteur...'">
    <ng-template #bannerActionsTemplate>
      <button class="banner-action" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Créer
      </button>
      <button class="banner-action" mat-raised-button>
        <mat-icon>info_outline</mat-icon>
        En savoir plus
      </button>
    </ng-template>
</app-ws-search-view>
