<mat-toolbar>
  <app-logo *ngIf="!small"></app-logo>
  <button mat-icon-button (click)="menu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <app-nav></app-nav>
  <div class="spacer"></div>
  <a mat-icon-button href="#">
    <mat-icon matBadge="0">notifications</mat-icon>
  </a>
  <button mat-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
    {{user?.firstName}}
  </button>
  <mat-menu #profileMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item [routerLink]="'/profile'">Mon profil</button>
      <button mat-menu-item (click)="signOut()">Se déconnecter</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>

